body {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    margin: 0px;
}

#map-wrapper {
    position: relative;
}

.overland-canvas {
    position: absolute;
    left: 0;
    height: 800px;
}

#battle-background {
    height: 99vh;
}

#battle-buttons {
    position: absolute;
    top: 780px;
    text-align: center;
    width: 100%;
}

.battle-button {
    padding: 10px;
    background-color: gray;
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid transparent;
}

.selected-button {
    border: 2px solid black;
}

.battle-bot-image {
    width: 16px;
    height: 20px;
    object-fit: none;
    scale: 6;
    position: absolute;
    top: 20%
}