body {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    margin: 0px;
}

#map-wrapper {
    position: relative;
}

.overland-canvas {
    position: absolute;
    left: 0;
    height: 800px;
}

#battle-background {
    height: 99vh;
}

#battle-buttons {
    position: absolute;
    top: 0;
}

.selected-button {
    background-color: white;
}